.card {
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width:90%;
    border-radius: 0.5rem;
    padding:1% 5%;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}


.itemCard:hover{
  cursor: pointer;
}
.close-button {
  position:absolute;
  border: none;
  font-size: 16px;
  font-weight: 900;
  background: none;
  cursor: pointer;
  color: red;
  top:-15px;
  /* left:10%; */
  right:-8px;
  background: gray;
  border-radius: 50px;
}
.card h2{
    line-height: 0px;
    -webkit-box-orient: vertical;
   /* width:100px; */
    text-overflow: ellipsis;
    color:black
}
.card p{
    line-height: 0px;
}
.view-details-btn{
    color:rgb(7, 39, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.view-details-btn:hover{
    cursor: pointer;
    color:brown;
}
/* Animation Logics */
.effect-container {
  position: relative;
  overflow: hidden;
  --effect-name: ripple;
  --effect-duration: 500ms;
  --effect-top: 0;
  --effect-left: 0;
  --effect-height: 100px;
  --effect-width: 100px;
  --effect-color: "fff";
}

.effect-container::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: var(--effect-top);
  left: var(--effect-left);
  height: var(--effect-height);
  width: var(--effect-width);
  background: var(--effect-color);
}

.effect-container.ripple.active::before {
  border-radius: 50%;
  animation: ripple var(--effect-duration) linear forwards;
}
